<div class="comment-top">
    <h4>Bir yorum yapın</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post">
            <div class="form-element">
                <input class="form-control" type="text" name="CommentUserName" placeholder="Adınız Soyadınız" required="">
            </div>
            <br />
            <div class="form-element">
                <input class="form-control" type="email" name="CommentTitle" placeholder="Konu" required="">
            </div>
            <br />
            <div class="form-element">
                <input class="form-control" type="text" name="CommentContent" placeholder="Yorumunuz..." required="">
            </div>
            <br />
            <div class="form-element">
                <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>
            </div>
            <br />
            <div class="form-element">
                <button type="submit" class="btn btn-primary submit">Yorum Yap</button>
            </div>
        </form>
    </div>
</div>